header {
    padding: 50px;
    background-color: rgb(60, 76, 221);
    text-align: center;
    background-image: url("../../../assets/Backgrounds/Bg_Header.png");
}

nav {
    display: flex;
    flex-direction: row;
    background-color: #333;
}

nav a {
    color:white;
    padding: 14px 20px;
    text-decoration: none;
}

@media screen and (max-width: 700px) {
    nav {
        flex-direction: column;
    }
}
