<div class="row">
    <section>
        <div class="input-search">
            <div>
                <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchTech"/>
            </div>
            <div class="margin-buttons">
                <button class="size-button" (click)="changeOrderAlphabeticalDesc()"> <i class="fas fa-sort-alpha-down"></i></button>
                <button class="size-button" (click)="changeOrderAlphabeticalAsc()"><i class="fas fa-sort-alpha-up-alt"></i></button>
            </div>
        </div>
        <div class="container" *ngFor="let tech of (techs | orderBy:orderAlphabetical :'tech' | async) | search:searchTech | async">
            <div class="column">
                <div class="card">
                    <h2>{{tech.tech}}</h2>
                    <div class="information">
                        <div class="info-tech">
                            Type: {{tech.type | normalizeText}}
                        </div>
                        <div class="info-tech">
                            Year: {{tech.year}}
                        </div>
                        <div class="info-tech">
                            License: {{tech.license}}
                        </div>
                        <div class="info-language">
                            Author: {{tech.author}}
                        </div>
                        <div class="info-language">
                            Language: {{tech.language}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>