.row {
    display: flex;
    flex-wrap: wrap;
}

aside {
    flex: 35%;
    background-color: beige;
    padding: 20px;
    background-image: url("../../../../assets/Img Hero/Ic_ilustra_Hero@2x.png");
}

section {
    flex: 100%;
    background-color: rgb(250, 247, 216);
    padding: 20px;
    background-image: url("../../../../assets/img_woloxer@3x.png");
    min-height: 830px;
}

@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.column {
    margin: 0 15px 25px;
}

.card {
    padding: 1%;
    padding-bottom: 30px;
    background-color: rgb(253, 252, 242);

    border-radius: 50px;
    transition: border .5s;
}

.info-tech {
    width: 15%;
    float: left;
    text-align: center;
}

.info-language {
    width: 20%;
    float: left;
    text-align: center;
}

.input-search {
    text-align: center;
    padding: 15px;
    font-size: 13px;
}

input {
    width: 20%;
    height: 35px;
}

.margin-buttons{
    margin: 10px;
}

.size-button {
    width: 30px;
    height: 30px;
}