@import url('https://fonts.googleapis.com/css?family=Nunito');

$background-start: #5433FF;
$background-end: #20BDFF;

$gray-color: #eee;
$input-color: #e4eff8;
$label-color: #999;
$login-button: #20BDFF;

.wrapper {
    height: 100%;
    min-height: 1200px;
    background: linear-gradient($background-start, $background-end);

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
        background-color: #fff;
        padding: 30px 15px;
        border-radius: 10px;
        width: 100%;
        max-width: 500px;
        min-width: 200px;

        button {
            padding: 15px;
            width: 150px;
            border: 1px solid $gray-color;
            background: transparent;
            border-radius: 50px;
            color: #333;
            cursor: pointer;

            &:focus {
                outline: none;
            }
        }

        header {
            text-align: center;

            h1 {
                margin-top: 0;
                font-size: 230%;
            }
        }

        // .social-login {
        //     padding: 10px;
        //     text-align: center;
        //     margin-bottom: 20px;
        //     display: flex;
        //     justify-content: center;

        //     button {
        //         display: flex;
        //         align-items: center;
        //         justify-content: center;
        //         transition: background .5s;
        //         -webkit-transition: background .5s;

        //         &:first-child {
        //             margin-right: 10px;
        //         }

        //         &:hover {
        //             background-color: $gray-color;
        //         }

        //         span {
        //             font-size: 17px;
        //             color: #777;
        //             margin-left: 5px;
        //         }
        //     }
        // }


        .login-form {
            padding: 0 20px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .input-group {
                display: flex;
                flex-direction: column;
                margin-top: 10px;
                width: 100%;
                max-width: 310px;

                input {
                    padding: 15px;
                    font-size: 13px;
                    border: 1px solid $input-color;
                    background-color: $input-color;
                    border-radius: 50px;
                    transition: border .5s;
                    -webkit-tranistion: border .5s;

                    &:focus {
                        outline: 0;
                        border-color: $background-end;
                    }
                }

                select {
                    padding: 15px;
                    font-size: 13px;
                    border: 1px solid $input-color;
                    background-color: $input-color;
                    border-radius: 50px;
                    transition: border .5s;
                    -webkit-tranistion: border .5s;

                    &:focus {
                        outline: 0;
                        border-color: $background-end;
                    }
                }

                label {
                    color: $label-color;
                    font-size: 12px;
                    margin-bottom: 3px;
                    margin-left: 16px;
                }

                button {
                    background-color: $login-button;
                    border: unset;
                    color: #fff;
                    align-self: center;
                    margin-top: 15px;
                    // transition: background .5s;
                    // -webkit-transition: background .5s;

                    &:hover {
                        background-color: $background-start;
                    }
                }
            }
        }

        footer {
            padding-top: 15px;
            text-align: center;

            a {
                color: #999;
                text-decoration: none;
                font-size: 11px;
            }
        }
    }
}
/*
@media screen and (max-width: 720px) {
    .wrapper {
        .content {
            padding-right: 0;
            padding-left: 0;
            margin: 0 10px;
        }
    }
}
*/
