<section class="wrapper">
    <div class="content">
        <header>
            <h1>Register</h1>
        </header>
        <section>
            <form action="" class="login-form" [formGroup]="registerForm" (click)="signUp()">
                <div class="input-group">
                    <label for="name">Name</label>
                    <input type="text" placeholder="Please enter your name" id="name" maxlength="30"
                        formControlName="name">
                </div>
                <div class="input-group">
                    <label for="last_name">Last Name</label>
                    <input type="text" placeholder="Please enter your last name" id="last_name" maxlength="30"
                        formControlName="last_name">
                </div>
                <div class="input-group">
                    <label for="country">Country</label>
                    <select name="country" id="country" (change)="selectCountry()" [(ngModel)]="countrySelect"
                        class="form-control" formControlName="country">
                        <option *ngFor="let country of countries" value={{country}}>{{country.name}}</option>
                    </select>
                    <!--<small class="form-text text-muted mb-4">select property type</small>-->
                </div>
                <div class="input-group">
                    <label for="state">Province</label>
                    <select name="state" id="state" [(ngModel)]="stateSelect" class="form-control"
                        formControlName="province">
                        <option *ngFor="let state of states">{{state.name}}</option>
                    </select>
                    <!--<small class="form-text text-muted mb-4">select property type</small>-->
                </div>
                <div class="input-group">
                    <label for="mail">Email</label>
                    <input type="text" placeholder="Please enter your email" id="mail" formControlName="mail">
                </div>
                <div class="input-group">
                    <label for="phone">Phone</label>
                    <input type="text" placeholder="Please enter your phone" id="phone" formControlName="phone">
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" placeholder="Please enter your password" id="password"
                        formControlName="password">
                </div>
                <div class="input-group"><button>Sign up</button></div>
            </form>
        </section>
    </div>
</section>

<div *ngIf="registerForm.status == 'INVALID'; else success">
    <div id="snackbar-failed">Please, try again.</div>
</div>
<ng-template #success>
    <div id="snackbar-success">Successful registration</div>
</ng-template>
<!-- The actual snackbar -->