<!--  BEGIN NAVBAR  -->
<app-header class="header-container fixed-top"></app-header>
<!--  END NAVBAR  -->

<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">

    <div class="overlay"></div>
    <div class="cs-overlay"></div>
    <div class="search-overlay"></div>

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">

        <div class="layout-px-spacing">
            <!-- CONTENT AREA -->

            <router-outlet></router-outlet>

            <!-- CONTENT AREA -->
        </div>

        <app-footer class="footer-wrapper"></app-footer>
    </div>
    <!--  END CONTENT AREA  -->

</div>
<!-- END MAIN CONTAINER -->