<section class="wrapper">
    <div class="content">
        <header>
            <h1>Welcome</h1>
        </header>
        <section>
            <!--
            <div class="social-login">
                <button><img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"
                        alt="google" width="20"><span>Google</span></button>
                <button><img src="https://cdn.freebiesupply.com/logos/large/2x/facebook-2-logo-svg-vector.svg"
                        alt="facebook" width="10"><span>Facebook</span></button>
            </div>

        -->
            <form action="" class="login-form">
                <div class="input-group">
                    <label for="username">Username or Email</label>
                    <input type="text" placeholder="Username or Email" name="username" id="username"
                        [(ngModel)]="session.email">
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" placeholder="Password" name="password" id="password"
                        [(ngModel)]="session.password">
                </div>
                <div class="input-group" (click)="login()"><button>Login</button></div>
            </form>
        </section>
        <footer>
            <a routerLink="/sign-up" title="Sign up">Sign up</a>
        </footer>
    </div>
</section>