.row {
    display: flex;
    flex-wrap: wrap;
}

aside {
    flex: 30%;
    background-color: beige;
    padding: 20px;
}

section {
    flex: 70%;
    background-color: khaki;
    padding:20px;
}

@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.column {
    margin: 0 15px 25px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}