<div class="row">
    <aside>
        <h2>
            Aside
        </h2>
        <p>P ASIDE</p>
    </aside>
    <section>
        <h2>
            Section
        </h2>
        <p>P SECTION</p>


        <div class="container">
            <div class="column">
                <div class="card">
                    <h2>About US</h2>
                    <p>CARD</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                Hola
            </div>
            <div class="col-4">
                Ho la
            </div>
            <div class="col-4">
                
            </div>
        </div>
    </section>
</div>